/* General styles for headings */
h1, h2, h3 {
  font-family: "VT323", monospace;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

a {
  z-index: 150;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(0, 0, 255);
  cursor: crosshair;
}

.canvas-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgb(197, 197, 197);
  overflow: hidden; 
}

.main-header {
  z-index: 200;
  display: flex;
  width: 100%;
  position: fixed;
}

.nav-buttons{
  font-family: "VT323", monospace;
  font-size: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid black;
}

.nav-buttons a {
  z-index: 100;
}

.nav-buttons a:hover{
  background-color: orange;
  cursor: crosshair;
}

.mega-planet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3rem;
  color: rgb(0, 0, 255);
  z-index: 20;
  width: 90%;
  word-wrap: break-word; 
}

.names-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 1px;
  font-size: 1.5rem;
  gap: 4vw;
  color: rgb(222, 0, 0);
  z-index: 20;
  flex-wrap: wrap; 
}

.artist-page-list {
  padding-top: 25%;
  display: flex;
  flex-direction: column;
}

.artist {
  font-size: 2rem;
  padding-left: 10%;
  border-bottom: 1px solid black;
}

.artist:hover {
  background-color: red;
}

@media (max-width: 768px) {
  .mega-planet {
    font-size: 2rem; 
  }

  .names-container {
    font-size: 2.2rem; 
    gap: 10px; 
    padding-bottom: 15px; 
  }
}

@media (max-width: 990px) {

  .mega-planet {
    font-size: 2.5rem; 
    width: 85%; 
    top: 50%
  }

  .names-container {
    display: none;

  }

  .main-header{
    border: none;
    position: absolute;
  }

  .artist-page-list{
    padding-top: 70%;
  }
  a {
    padding: 0px;
    width: 100%;
    border-bottom: 2px solid rgb(0, 0, 0);
  }
  .nav-buttons{
   color: blue;
   padding-top: 10%;
   border: none;
   flex-direction: column;
   align-items: center;
  }

}

@media (max-width: 320px) {
  .mega-planet {
    font-size: 1.2rem;
  }
  
  .names-container {
    font-size: 0.9rem;
    padding-bottom: 5px;
  }
}